*{
    padding:0;
    margin:0;
}
body{
    padding: 0;
}
img{
    border-radius: 50%;
}
a{
    font-size: 2.7rem;
    font-family: 'Lexend Deca','Noto Sans KR', sans-serif;
}
p{
    text-align: left;
    margin-left: 3rem;
    font-size: 2.7rem;
    font-family: 'Lexend Deca','Noto Sans KR', sans-serif;
}
#top_bar{
    z-index: 10;
    position: fixed;
    height: 10rem;
    width: 100%;
    top: 0;
    background: rgb(248,248,248);
    text-align: center;


    line-height: 10rem;
}
#star_container{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#star_container img{
    width: 3rem;
    height: 3rem;
    border-radius: 0;
}

.review_star_container{

    left: 10rem;
    top: 2rem;
    position: relative;

    display: block;
    width: 10rem;
    height: 2rem;
}
.review_star_container img{
    width: 2rem;
    height: 2rem;
    border-radius: 0;
}

#introduction{
    padding-top: 10rem;
    height: 18rem;
    padding-left: 2rem;
}

#comments{

}

#main_menu{
}

.tab_contents{
    /*top: 8rem;*/
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.menu_cell{
    margin-left: 4rem;
    margin-right: 4rem;
    width: 100%;
    display: inline;
    height: 15rem;
}

.menu_cell div{
    height: 13rem;

    top: 0.5rem;
    width: calc(100% - 11rem);
    position: relative;
}



.menu_cell:hover{
    background: #007aff;
}

#tab_container{
}

.tab{
    display: none;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(50% - 2rem);
    height: 8rem;
    background: rgb(240,240,240);
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    position: absolute;
}

#tab_left{
    left: 0;
}

#tab_right{
    right: 0;
}


.bottom_next_button{
    position: fixed;
    height: 9rem;
    z-index: 10;

    width:calc(100% - 6rem);
    margin-left : 3rem;
    margin-right: 3rem;
    bottom: 3rem;

    font-size: 2.3rem;

    border-radius: 1.6rem;
    background-color: #007aff;
    color: white;
    box-shadow: 1px 2px 12px 1px rgba(0,80,144,0.5);
}
button{
    border-width: 0;
}